:root {
  --color-link: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --indent: 30px;
  --items: 4;
  --time-change: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

.logo {
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--color-link);
}
@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .nav__logo {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 88px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 93px;
  }
}

.nav__logo--black {
  color: #000000;
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
}

.footer__logo--white {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.nav__link:hover {
  color: var(--color-link);
}
.nav__link:focus {
  color: var(--color-link);
}

.nav__link--current {
  color: var(--color-link);
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-link);
}

@media screen and (max-width: 1199px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.header__link:hover {
  color: var(--color-link);
}
.header__link:focus {
  color: var(--color-link);
}
@media screen and (max-width: 767px) {
  .header__link {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
  }
}

.header__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .header__icon--envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .header__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

.hero {
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mob@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob@1x.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tab@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tab@1x.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/dt@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/dt@1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/dt@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/dt@2x.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 24px;
  min-width: 152px;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-link);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  margin: auto;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.hero__button:hover {
  background-color: #188ce8;
}
.hero__button:active {
  background-color: #188ce8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}
@media screen and (max-width: 767px) {
  .benefits__list {
    display: block;
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .benefits__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (max-width: 767px) {
  .benefits__text {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    width: 270px;
  }
}

.benefits__text--last {
  margin-bottom: 0;
}

.service {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .service {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.service__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.service__items {
  position: relative;
}

.service__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team__items {
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .team__items {
    --items: 2;
  }
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .team__wrapper {
    padding-bottom: 24px;
  }
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 10px;
  text-align: center;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--color-link);
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-bottom: 0;
  }
}

.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.socials__link--footer:hover, .socials__link--footer:focus {
  background-color: var(--color-link);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clients__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--indent);
  }
}
@media screen and (max-width: 1199px) {
  .clients__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--indent);
  }
}

.clients__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  outline: 1px Solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: outline color;
  transition-property: outline color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.clients__links:hover, .clients__links:focus {
  color: var(--color-link);
  outline: 1px Solid var(--color-link);
}
@media screen and (min-width: 480px) {
  .clients__links {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__links {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__links {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  gap: 93px;
}
@media screen and (min-width: 1200px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__links {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 165px;
    margin-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__links {
    margin-left: 0;
    gap: 70px;
  }
}

.footer__address {
  min-width: 231px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 0;
  }
}

.footer__map {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.footer__map:hover {
  color: var(--color-link);
}
.footer__map:focus {
  color: var(--color-link);
}

.footer__communication {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.footer__communication:hover {
  color: var(--color-link);
}
.footer__communication:focus {
  color: var(--color-link);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__block {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.subscription__input {
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 0;
  border: solid 1px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  width: 450px;
}
@media screen and (max-width: 479px) {
  .subscription__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    width: 328px;
  }
}
.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: auto;
  padding: 0;
  background-color: var(--color-link);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin: 0;
  }
}
.subscription__button:hover {
  background-color: #188ce8;
}
.subscription__button:active {
  background-color: #188ce8;
}

.subscription__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 95%;
  }
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: fill var(--time-change);
  transition: fill var(--time-change);
  -webkit-transition-timing-function: fill var(--cubic-bezier);
          transition-timing-function: fill var(--cubic-bezier);
}
.modal__button--close:hover {
  fill: var(--color-link);
}
.modal__button--close:focus {
  fill: var(--color-link);
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 12px;
}

.modal__label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.modal__elements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  padding: 0;
  padding-left: 42px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--time-change);
  transition: outline var(--time-change);
  -webkit-transition-timing-function: outline var(--cubic-bezier);
          transition-timing-function: outline var(--cubic-bezier);
}
.modal__input:focus {
  outline-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  fill: #000000;
  -webkit-transition: fill var(--time-change);
  transition: fill var(--time-change);
  -webkit-transition-timing-function: fill var(--cubic-bezier);
          transition-timing-function: fill var(--cubic-bezier);
}

.modal__input:focus + .modal__icon {
  fill: var(--color-link);
}

.modal__textarea {
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: outline var(--time-change);
  transition: outline var(--time-change);
  -webkit-transition-timing-function: outline var(--cubic-bezier);
          transition-timing-function: outline var(--cubic-bezier);
}
.modal__textarea:focus {
  outline-color: #2196f3;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__group {
  margin-bottom: 20px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8.38px;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  -webkit-transition: background-size var(--time-change), outline-color var(--time-change), background-color var(--time-change);
  transition: background-size var(--time-change), outline-color var(--time-change), background-color var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier), outline-color var(--cubic-bezier), background-color var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier), outline-color var(--cubic-bezier), background-color var(--cubic-bezier);
}
.checkbox__input:checked {
  outline-color: var(--color-link);
  background-color: var(--color-link);
  background-size: 11px 8px;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  color: var(--color-link);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0;
  background-color: var(--color-link);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.modal__button:hover {
  background-color: #188ce8;
}
.modal__button:active {
  background-color: #188ce8;
}

.portfolio__button {
  --indent:8px;
  margin-bottom: 43px;
}
@media screen and (max-width: 767px) {
  .portfolio__button {
    margin-bottom: 7px;
    width: 325px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__button:nth-child(3) {
  background-color: aquamarine;
}

.portfolio__button--sort {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  -webkit-transition-property: background-color color box-shadow;
  transition-property: background-color color box-shadow;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
@media screen and (max-width: 767px) {
  .portfolio__button--sort {
    margin-bottom: 7px;
  }
}
.portfolio__button--sort:hover {
  color: #ffffff;
  background-color: var(--color-link);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__button--sort:focus {
  color: #ffffff;
  background-color: var(--color-link);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .portfolio {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    --items: 3;
  }
}

.portfolio__background {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.portfolio__background:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

.portfolio__items {
  text-decoration: none;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__items:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #ececec;
  border-top: none;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-bottom: 4px;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--color-link);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile__link {
  display: block;
  padding: 16px 8px;
  color: var(--color-title);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile__link--current {
  color: var(--color-link);
}

.menu-contacts {
  display: block;
  text-decoration: none;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu__tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--color-link);
}

.menu__mail {
  font-size: 24px;
  line-height: 1.17;
  color: var(--color-text);
}

.menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__socials--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.menu__socials--items:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu__socials--items:not(:first-child) {
  padding-left: 10px;
}/*# sourceMappingURL=main.css.map */