.team {
    background-color: #f5f4fa;
  }
  .team__title {
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;
    text-align: center;
    @media screen and (min-width: 480px){
      font-size: 28px;
      line-height: 1.18;
     }
  
     @media screen and (min-width: 768px){
      font-size: 28px;
      line-height: 1.18;
     }
  
     @media screen and (min-width: 1200px){
      font-size: 36px;
      line-height: 1.17;
     }
  }
  .team__set{
    @media screen and (max-width: 767px){
      flex-direction: column;
     }
  }
  .team__items {
    background-color: #ffffff;
    
    
    @media screen and (max-width: 1199px){
      --items: 2;
     }
    
  }
  .team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 1199px){
      padding-bottom: 24px;
     }
  }
  .team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 10px;
    text-align: center;
  }
  .team__profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 16px;
  }
