:root {
    --color-link: #2196f3;
    --color-title: #212121;
    --color-text: #757575;
    --indent: 30px;
    --items: 4;
    --time-change: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  }